on:
  push:
    paths:
      - '*'
  pull_request:
    paths:
      - '*'

name: Continuous-integration-core

jobs:
  check:
    name: Build and analyze
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST: ${{ secrets.SONAR_HOST }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Using Java 16
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 16

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.sonar/cache
            ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}

      - name: Analyze
        run: ./gradlew build
